<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/home/knoldus/Documents/Github-Action/src/test/java/testcase/Test.java">
        <classes>
            <class name="testcase.Test"></class>
        </classes>
    </test>
</suite>